# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Various GCC outputs
*.cyclo
*.su

# Executables
*.exe
*.out
*.app
*.elf

# STM32CubeIDE build directories
Debug/
Release/

# Kicad files
*.lck
*.zip
*#
*.kicad_prl
fp-info-cache
_autosave*

# ROS2
build/
install/
log/

# Python
*.pyc
__pycache__/

*.swp

# Freecad
*.FCBak